In [21]:
#Q. 05-01. ¿Cuántas comparaciones se ejecutaron en el siguiente proceso de clasificación por inserción?

def bubblesort(S):
    k=0
    n=len(S)
    for i in range (n):
        for j in range (n-1):
            if S [j]>S[j+1]:
                k=k+1
                S[j],S[j+1]=S[j+1],S[j] 
                print(k)
S=[50,30,40,10,20]
bubblesort(S)

#Se hacen 8 comparaciones

1
2
3
4
5
6
7
8

In [30]:
#Q. 05-02. ¿Cuántas comparaciones se ejecutaron en el siguiente proceso de clasificación por inserción?
def insertionsort2(S):
    k=0
    n=len(S)
    for i in range (1, n):
        print(S)
        x=S[i]
        j=i-1
        while j >= 0 and S[j]>x:
            k= k+1
            S[j+1]=S[j]
            j-=1
            S[j+1]=x
            print(k)
S=[50,30,40,10,20]
insertionsort2(S)

#Se hacen 8 comparaciones

[50, 30, 40, 10, 20]
1
[30, 50, 40, 10, 20]
2
[30, 40, 50, 10, 20]
3
4
5
[10, 30, 40, 50, 20]
6
7
8

In [28]:
def partition1(l, n):
    S=[15,10,12,20,25,13,22]
    partition1(S,0,len(S)-1)
print(S)

[15, 10, 12, 20, 25, 13, 22]

In [38]:
#Q. 05-04. 
def partition1(S, start, end):
    pivot = S[end]
    pIndex = start    
    for i in range(start, end):
        if S[i] <= pivot:
            swap(S, i, pIndex)
            pIndex = pIndex + 1
    swap(S, end, pIndex)
    return pIndex

def quicksort(S, start, end):
    if start >= end:
        return
    pivot = partition1(S, start, end)
    quicksort(S, start, pivot - 1)
    quicksort(S, pivot + 1, end)
if __name__ == '__main__':
    S = [15,10,12,20,25,13,22]
    quicksort(S, 0, len(S) - 1)
    print(S)

[10, 12, 13, 15, 20, 22, 25]

In [23]:
#Q. 06-01. 
def factorial(n): 
    return 1 if (n==1 or n==0) else n * factorial(n - 1);  
  
num = 5; 
print("Factorial de",num,"es", factorial(num))

Factorial de 5 es 120

In [42]:
#Q. 06-02. 
def factorial_1(n):
    if n in factorial_1.__dict__:
        return factorial_1.__dict__[n]
    if n > 1:
        fac = n * factorial_1(n - 1)
    else:
        fac = 1
    factorial_1.__dict__[n] = fac
    return fac
num = 10; 
print("Factorial de",num,"es", factorial_1(num))

Factorial de 10 es 3628800

In [42]:
#Q. 06-03. 
def fib(n):
    if n < 2:
        return n
    else:
        # fn = fn-1 + fn-2
        return fib(n-1) + fib(n-2)    
fib(8)
for x in range(10):
    print(fib(x))

0
1
1
2
3
5
8
13
21
34

In [5]:
#Q. 07-01. 
d={'col1': [1,2], 'col2': [3,4], 'col3': [5,6], 'col4': [7,8]}
import pandas as pd
df = pd.DataFrame([[key, d[key]] for key in d.keys()], columns=['Columna', 'Cantidad'])
df

  Columna Cantidad
0    col1   [1, 2]
1    col2   [3, 4]
2    col3   [5, 6]
3    col4   [7, 8]

In [11]:
#Q. 07-02. 
d={'col1': [1,2], 'col2': [3,4], 'col3': [5,6], 'col4': [7,8]}
import pandas as pd
df = pd.DataFrame([[key, d[key]] for key in d.keys()], columns=['Columna', 'Cantidad'])
df
new_df = pd.DataFrame({'col4': [7,8]})
print(new_df)

   col4
0     7
1     8

In [17]:
#Q. 07-03. 
d={'col1': [1,2], 'col2': [3,4], 'col3': [5,6], 'col4': [7,8]}
import pandas as pd
df = pd.DataFrame([[key, d[key]] for key in d.keys()], columns=['Columna', 'Cantidad'])
df.index = ['primero', 'segundo', '3', '4']
df

        Columna Cantidad
primero    col1   [1, 2]
segundo    col2   [3, 4]
3          col3   [5, 6]
4          col4   [7, 8]

In [24]:
#Q. 07-04. 
d={'col1': [1,2], 'col2': [3,4], 'col3': [5,6], 'col4': [7,8]}
import pandas as pd
import numpy as np 
df = pd.DataFrame([[key, d[key]] for key in d.keys()], columns=['Columna', 'Cantidad'])
df.index = ['primero', 'segundo', '3', '4']
df
df.notnull()

         Columna  Cantidad
primero     True      True
segundo     True      True
3           True      True
4           True      True